* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkgrey;
}

#main-stage {
  height: 300px;
  background-color: blanchedalmond;
}

#top {
  transform: rotate(180deg);
}

.stack {
  padding-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card {
  width: 175px;
  height: 200px;
  margin-left: -4rem;
  padding: 1.25rem 0.75rem;
  display: inline;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  cursor: pointer;
  transform: translateY(120px);
  transition: all 0.2s ease;
}

.card:hover {
  z-index: 2;
  background-color: tomato;
  transform: translateY(0);
}

#test-btn {
  position: absolute;
  left: 50%;
  top: 50%;
}